# to stop data been uploaded to remote repo.
*.csv
*.RData
*.rds

# ignores word docs/pdfs/logs
*.docx
*.pdf
*.png
*.log

# ignores R history file
*.Rhistory

#Automatically gets added when you add an R project file
.Rproj.user
