# to stop data been uploaded to remote repo.
*.csv
*.RData
*.rds

# ignores word docs/pdfs
*.docx
*.pdf
*.png

# ignores R history file
*.Rhistory

#Automatically gets added when you add an R project file
.Rproj.user
